:root {
  --primary-color: #5f85db;
  --secondary-color: #4ecca3;
  --light-color: #eeeeee;
  --dark-color-1: #393e46;
  --dark-color-2: #26282b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--dark-color-1);
  color: var(--light-color);
}

.container {
  margin: 60px auto;
  max-width: 90%;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.main-info {
  padding: 200px 0px;
}

@media (max-width: 992px) {
  .main-info {
    padding: 50px 0px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}

.navbar {
  background-color: var(--dark-color-2);
}

.navbar-brand {
  color: var(--primary-color);
}

.nav-link {
  color: var(--secondary-color);
}

.active {
  color: var(--light-color);
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navigation-buttons a,
.app-button {
  border: 1px solid var(--primary-color);
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.more-info-button,
.less-info-button {
  background-color: var(--secondary-color);
  color: var(--light-color);
  border: 0px;
  margin: 5px;
  padding: 20px 25px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.more-info-button:hover,
.less-info-button:hover {
  opacity: 0.8;
}

.about-me-paragraph {
  margin: 30px 0;
}

.about-me-column {
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.5;
}

.button-1 {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}

.button-2,
#back-to-homepage {
  color: var(--primary-color);
  margin-left: 40px;
}

#contact-me {
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

#contact-me:hover {
  text-decoration: underline;
}

.bubble {
  background-color: var(--dark-color-2);
  color: var(--primary-color);
  padding: 2px 8px;
  margin: 2px;
  border-radius: 30px;
  min-width: 100px;
}
